{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="p-4 m-4">
        <form action="{% url 'singup' %}" class="border p-4 rounded" method="post">
            {% csrf_token %}
            <h3 class="alert alert-light border rounded text-center">Create An Account</h3>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {%endif%}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">First name</label>
                <input type="text" name="first_name" value="{{values.first_name}}" class="form-control form-control-sm"
                       id="exampleInputEmail1"
                       placeholder="First name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail11" class="form-label">Last name</label>
                <input type="text" name="last_name" value="{{values.last_name}}" class="form-control form-control-sm"
                       id="exampleInputEmail11"
                       placeholder="Last name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1111" class="form-label">Phone</label>
                <input type="text" name="phone" value="{{values.phone}}" class="form-control form-control-sm"
                       id="exampleInputEmail1111"
                       placeholder="01*********" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail111" class="form-label">Email address</label>
                <input required type="email" name="email" value="{{values.email}}" class="form-control form-control-sm"
                       id="exampleInputEmail111"
                       placeholder="example@example.com" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control form-control-sm" id="exampleInputPassword1"
                       placeholder="**********">
            </div>

            <button type="submit" class="btn btn-info btn-sm">Create An Account</button>
        </form>
    </div>
</div>
{%endblock%}